POSTGRES_USER=test_user # required
POSTGRES_PASSWORD=test_password # required
POSTGRES_DB_NAME=postgres # required
POSTGRES_HOST=test_host # required

POSTGRES_PORT=5432 # optional (default: 5432)
DB_ECHO_LOGS=1 # optional (default: True)
